vendor/
storage/

.phpunit.result.cache
composer.lock
phpcs.xml
phpstan.neon
phpunit.xml
.phpunit.cache
.phpunit.cache/

src/CPA

.DS_Store

tests/Benchmarks/reports/*

tests/TestingData/bootstrap/cache/
